.menu-bg{
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
    background-color:#8252fa
}

.nav-brand{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size:25px;
    font-family: 'Poppins', sans-serif;
}



.banner-img{
    justify-self: start;
    text-align: left;
    width: 500px;
    height: 700px;
}

.text-area{
    height: 100px;
}

.aboutMe-img{
    width: 300px;
    height: 400px;
}
.resume-btn{
    text-decoration: none;
    color: rgb(82, 51, 218);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: aqua;
    padding: 15px 20px;
    border-radius: 5px;
}

.card-body{
    background-image: url("https://i.ibb.co/PTVGqJQ/Zahara-Home.jpg");
    background-image: image-set(100px,200px);
}

/* Main CSS */
body {
	background-color: #fff;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: #777;
}

p {
	margin: 0;
}

a {
	color: #aa0a5f;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	margin: 0;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

strong {
	letter-spacing: 1px;
}

code {
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size: 85%;
	margin: 0;
	padding: 5px 10px;
}

code a {
	color: #333;
}

code a:hover {
	text-decoration: underline;
}

section p {
	line-height: 28px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.tan {
	margin-bottom: 10px;
}

.fifteen {
	margin-bottom: 15px;
}

.twenty {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.title {
	margin: 50px 0 30px;
}

.syntaxhighlighter {
	border: 1px solid #8252fa;
	max-height: 100% !important;
	padding: 20px 0;
}

.main-content section {
	margin: 0 5%;
}

.left-sidebar {
	background-color: #dddddd;
	float: left;
	min-height: 100%;
	position: fixed;
	width: 18%;
}

.logo {
	padding-bottom: 30px;
	padding-left: 30px;
	padding-top: 70px;
}

.left-nav ul {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.left-nav ul li a {
	color: #000000;
	display: block;
	padding: 10px 35px;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-ms-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.left-nav ul li a:hover,
.left-nav ul li .current {
	background-color: #4458dc;
	color: #fff;
}

#main-wrapper {
	float: left;
	margin-left: 18%;
	width: 82%;
}

.content-header {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding: 30px 0 35px;
	text-align: center;
}

.welcome {
	font-size: 16px;
	line-height: 26px;
	margin: 35px auto 0;
}

.features {
	margin-top: 50px;
}

.features ul li {
	list-style: square outside none;
	margin-bottom: 15px;
}

.features > ul {
	padding-left: 18px;
}

.author {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 50px;
	padding: 30px 0;
}

.author-info {
	font-size: 18px;
	line-height: 28px;
	margin: 0 auto;
	width: 50%;
}

.section-content {
	font-size: 16px;
	line-height: 25px;
}

.section-content li {
	margin-bottom: 15px;
}

.section-content a:hover {
	text-decoration: underline;
}

.script-source li {
	list-style: square outside none;
	margin-bottom: 10px;
}

#twitter-feed li,
#flickr li {
	line-height: 25px;
	margin-bottom: 10px;
}

#twitter-feed img {
	border: 1px solid #ddd;
	box-shadow: 2px 3px 3px #ddd;
	height: auto;
	margin-top: 10px;
	max-width: 100%;
}

/*  AOS */
body {
  font-family: Helvetica,Tahoma;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.scroll-counter {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  color: white;
  background-color: rgba(0,0,0,0.4);
}

.aos-all {
  width: 1000px;
  max-width: 98%;
  margin: 50px auto;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 100%;
  height: 300px;
  padding: 20px;
}

.aos-item::before {
  content: attr(data-id);
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 420px) {
  .aos-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .aos-item {
    width: 33%;
  }
}

.aos-anchors__lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid blue;
  border-bottom: 2px solid red;
}

.aos-anchors__lines::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: green;
}

.aos-anchors__sidebar {
  position: fixed;
  left: 0;
  top: 0;
}

.aos-anchors__sidebar > div {
  padding: 5px 10px;
  background: #f1f1f1;
}

.aos-anchors__content {
  width: 400px;
  margin: 50px auto;
}

.aos-anchors__content > div {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background: #f1f1f1;
  line-height: 300px;
  text-align: center;
  color: #333;
}

.aos-anchors__content > div::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.aos-anchors__content > div::after {
  content: attr(data-anchor-id);
  position: relative;
  background-color: #f1f1f1;
}

.aos-anchors__content > div[data-placement$="-bottom"]::before {
  background-color: red;
}

.aos-anchors__content > div[data-placement$="-center"]::before {
  background-color: green;
}

.aos-anchors__content > div[data-placement$="-top"]::before {
  background-color: blue;
}

.aos-anchors__content > div[data-placement^="top-"]::before {
  top: 0;
}

.aos-anchors__content > div[data-placement^="center-"]::before {
  top: 0;
  bottom: 0;
  margin: auto;
}

.aos-anchors__content > div[data-placement^="bottom-"]::before {
  bottom: 0;
}


.my-img{
	/* border: 0px 10px 0px 20px; */
border-right: 10px  solid rgb(77, 75, 75); 
border-bottom: 10px solid rgb(68, 67, 67);
border-collapse: collapse;
/* padding: 20px; */
border-top-right-radius: 20px;
border-left-color: #1da4e2;
border-bottom-left-radius: 20px;
	box-shadow: 2px 2px 2px 10px rgba(90, 188, 212, 0.2);
}

 


